@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgb(250, 250, 250);
    overflow-x: hidden;
    height: 100vh;
}

header {
    background-image: linear-gradient(to bottom right,rgb(165, 157, 236), rgb(29, 22, 100));
    color: rgb(250, 250, 250);
    height: fit-content;
    width: 100vw;
    padding: 1rem;
}

header h1 {
    text-align: center;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: rgb(250, 250, 250);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header nav button {
    margin-right: 2rem;
}

main {
    display: flex;
    align-items: flex-start;
    width: 100vw;
    padding: 2rem;
}

.text-content {
    width: 99%;
    margin: 0 2rem;
    margin-bottom: 2rem;
    margin-left: 0;
    padding: 2rem;
    border: solid 1px black;
    border-radius: 6px;
    line-height: 24px;
    text-align: justify;
    box-shadow: 3px 3px 5px rgba(29, 22, 100, 0.5);
}

.text-content p {
    margin-bottom: 1rem;
    font-size: 16px;
}

.controls-container {
    width: 1%;
}

.controls {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(145, 145, 167);
    padding: 1rem;
    border-radius: 6px;
    transform: translateX(150%);
    transition: transform 0.5s ease-in;
}
.controls.visible {
    
    transform: translateX(-100%);
    transition: transform 0.8s ease-out;
}

.controls h3 {
    text-align: center;
}

.controls div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0.5rem 0;
}

.controls span {
    background-color: rgb(29, 22, 100);
    color: rgb(250, 250, 250);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}

button {
    background-image: linear-gradient(rgb(165, 157, 236), rgb(29, 22, 100));
    color: rgb(250, 250, 250);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    font-weight: 700;
}

button:hover {
    background-image: linear-gradient(rgb(29, 22, 100), rgb(165, 157, 236));
}

button:active {
    transform: scale(0.9);
}

#family1-btn {
    font-family: 'Roboto' !important;
}

#family2-btn {
    font-family: 'Times New Roman' !important;
}

#family3-btn {
    font-family: 'Comic Neue' !important;
}

footer {
    position: fixed;
    bottom: 0;
    background-image: linear-gradient(to bottom right,rgb(165, 157, 236), rgb(29, 22, 100));
    color: rgb(250, 250, 250);
    height: fit-content;
    width: 100vw;
    padding: 1rem;
}