@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: aliceblue;
}

header {
    background-image: linear-gradient(rgb(165, 157, 236), rgb(29, 22, 100));
    color: aliceblue;
    height: fit-content;
    width: 100vw;
    padding: 1rem;
}

header h1 {
    text-align: center;
    margin-bottom: 1rem;
}

header a {
    text-decoration: none;
    color: aliceblue;
}

main {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100vw;
    padding: 2rem;
}

.text-content {
    width: 80%;
    margin: 0 2rem;
    margin-left: 0;
    padding: 2rem;
    border: solid 1px black;
    border-radius: 6px;
    line-height: 24px;
    text-align: justify;
    box-shadow: 3px 3px 5px rgba(29, 22, 100, 0.5);
}

.controls-container {
    width: 20%;
}

button {
    background-image: linear-gradient(rgb(165, 157, 236), rgb(29, 22, 100));
    color: aliceblue;
    padding: 0.5rem;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-image: linear-gradient(rgb(29, 22, 100), rgb(165, 157, 236));
}

button:active {
    transform: scale(0.9);
}

.controls {
    width: 300px;
    transform: translateX(150%);
    transition: transform 1s ease-out;
}
.controls.visible {
    transform: translateX(-50%);
    transition: transform 1s ease-in;
}