.profile-card {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
  background-color: cadetblue;
  border-radius: 10px;
}