/*
3 - Estilize cada uma das tags h3 .
4 - Faça a terceira div ser maior que as demais.
5 - Deixe as tags ímpares h3 com o texto em itálico.*/

div {
    font-family: sans-serif;
    font-size: 30px;
    height: 50px;
    width: 300px;
}

div:hover {
    border: 1px solid black;
}

div:nth-of-type(1) {
    background-color: aqua;
}

div:nth-of-type(2) {
    background-color: blueviolet;
}

div:nth-of-type(3) {
    background-color: chartreuse;
    width: 400px;
}

div:nth-of-type(4) {
    background-color: goldenrod;
}

div:nth-of-type(5) {
    background-color: darkblue;
}

/*Formatando h3*/
div:nth-of-type(1) h3{
    color: darkblue;
    font-style: italic;
}

div:nth-of-type(2) h3{
    color: white;
    font-size: 20px;
}

div:nth-of-type(3) h3{
    color: firebrick;
    text-align: center;
    font-style: italic;
}

div:nth-of-type(4) h3{
    color: darkgreen;
    text-decoration: underline;
}

div:nth-of-type(5) h3{
    color: aqua;
    font-style: italic;
}