body {
    text-align: center;
}

.description {
    width: 90vw;
    margin: 10px auto;
}

.description-content p {
    text-align: justify;
}

.info {
    float: right;
    width: 240px;
    margin-left: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    padding-bottom: 10px;
}

.info img {
    width: 150px;
    margin-top: 20px;
    border-radius: 10px;
}

.info span {
    display: block;
    margin: 10px;
}

.info table tbody tr {
    height: 35px;
}